<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="bg" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<style>
    *,
    *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    .content-header {
        height: 3rem;
        padding-bottom: 1.2rem;
        width: 100%;
    }

    .content-main {
        height: 25rem;
    }

    .content-main .step-way-cover {
        height: 100%;
        width: 100%;
    }

</style>
<head>
    <title th:text="#{email.activation.title}"> Промяна на парола </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,700;1,900&display=swap"
          rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="width: 100%;
             height: 100vh;
             background: #f9f9f9;
             font-family: 'Roboto', sans-serif;
             padding-bottom: 3.5rem;">
<table style="display: flex; justify-content: center;">
    <tbody style="width: min(100%, 26rem); height: 100%; margin: 0 auto; padding: 1.8rem 1.4rem;">
    <tr class="content-main-wrapper">
        <td style="display: block; width: 100%; min-width: 100%;">
            <div class="content-main">
                <h3 style="
              text-transform: uppercase;
              font-size: 2.1rem;
              line-height: 1.05;
              font-weight: 900;
              margin: 0;
              color: #3bb364;"> Забравихте паролата си ? </h3>
                <p style="
              margin: .6rem 0 0 0;
              color: rgba(0, 0, 0, .75);
              font-size: 1rem;
              font-weight: 500;
              line-height: 0.95;"> Не се тревожете! <br> Обновяването на вашата парола е съвсем близо. <br> За да
                    промените паролата си, натиснете бутона <b> "промени парола" </b>.</p>
                <a th:href="${request}"> Промени парола </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>